.detail-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.d-header{
	display: flex;
    align-items: flex-end;
	height: 120px;
	border-bottom: rgba(70,247,228,0.8) 1px solid;
}

.icon{
	color: rgba(70,247,228,0.8);
	margin: 10px;
}

.icon:hover{
	color: rgba(70,247,228,0.6);
	
}

.d-img{
	width:300px;
	height: 400px;
	margin-top: 33px;
	margin-bottom: 20px;
}
.d-img img{
	width: 100%;
	height: 100%;
		
}
.details{
	margin-top: 30px;
	margin-left: 20px;
	width: 600px;
}
span{
	color:rgba(70,247,228,0.8);	
}

.spinner{
	display: flex;
	justify-content: center;
    align-items:center;
    height: 650px; 
}
.overview{
	text-align:justify;
	margin-right: 15px;
}
.back-icon{
	width:30px;
	height: 50px;
}
.castImg{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 15px;

}
.cast-container{
	margin-top: 100px;
	margin-bottom:100px;
}
.spinner-container{
	height: 100vh;
}
.sorry{
	margin-top: 150px;
	color: rgba(255,255,255,0.7);
}
@media(max-width: 460px){
	.castImg{
		width: 90px;
		height:90px;
     }
     .d-img{
		width:240px;
		height: 340px;
		margin-top: 33px;
		margin-bottom: 20px;
}
}
